body {
  font-family: Arial, sans-serif;
  background-color: #a7cef4;
  margin: 0;
  padding: 20px;
}

.contenedor {
  max-width: 700px;
  margin: auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  color: #003366;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1 1 30%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  flex: 1 1 100%;
  padding: 10px;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #004c99;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #003366;
  color: white;
}
